<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="assemblyPatcher" type="BitPantry.AssemblyPatcher.Configuration.AssemblyPatcherConfiguration, BitPantry.AssemblyPatcher" />
  </configSections>
  <appSettings>
    <add key="" value="" />
  </appSettings>
  <assemblyPatcher>
    <partGenerators>
      <add token="{testGenerator}" type="BitPantry.AssemblyPatcher.Tests.TestGenerators.TestGenerator, BitPantry.AssemblyPatcher.Tests" />
    </partGenerators>
  </assemblyPatcher>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>