<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="assemblyPatcher" type="BitPantry.AssemblyPatcher.Configuration.AssemblyPatcherConfiguration, BitPantry.AssemblyPatcher" />
  </configSections>
  <appSettings>
    <add key="" value=""/>
  </appSettings>
  <assemblyPatcher>
    <partGenerators>
      <add token="{testGenerator}" type="BitPantry.AssemblyPatcher.Tests.TestGenerators.TestGenerator, BitPantry.AssemblyPatcher.Tests" />
    </partGenerators>
  </assemblyPatcher>
</configuration>